figures/*.png
conne-mwe-stan.R
TMB_example.*
*.png
*.jpg
*.o
*.so
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
test*
TODO.*
*.ods
*.xlsx
*.pdf
*.docx
*.log
*.bbl
*.aux
*.blg
*.fdb_latexmk
*.fff
*.fls
*.out
data/mapdata/
data/pr-posteriors.rds
data/s1-posteriors.rds
data/s2-posteriors.rds
data/stanfit*
analysis/*.rds
src/
